{% extends 'layout.html' %}

{% block title %}
The Bookcritics
{% endblock title %}

{% block body %}
<div id="app-title-search">
  <h1>The BookCritics</h1>
</div>

<div id="book-detail-card" class="card shadow rounded">
  <div class="card-header">
    <h5 class="card-title">{{ book_detail.title }}</h5>
    <p class="card-text">ISBN: {{ book_detail.isbn }}</p>
    <p class="card-text">Author: {{ book_detail.author }}</p>
    <p class="card-text">Publish year: {{ book_detail.year }}</p>
  </div>

  <div class="card-body">
    <div class="row justify-content-end">
      <a href="{{ url_for("search") }}">
        <button type="button" class="btn btn-secondary mb-2">Return</button>
      </a>
    </div>
    
    <h5 class="card-title">Reviews</h5>
    <div id="review-list-wrap" class="row">
      {% if count > 0 %}
      <ul class="list-group review-list">
        {% for review in reviews %}
          <li class="list-group-item list-group-item-action">
            <h5 class="card-title">{{ review.user_name }} ({{ "★" * review.stars }})</h5>
            <p class="card-text">{{ review.description }}</p>
            <p class="card-text">Written at: {{ review.formattedDate }}</p>
          </li>
        {% endfor %}
      </ul>
      {% else %}
      <h5 class="card-title">There's no review yet!</h5>
      {% endif %}
    </div>
  </div>

  <div class="card-footer text-muted">
    Write new review
  </div>
</div>
{% endblock body %}